*

!.github/
!.github/workflows/
!.github/workflows/codeql-analysis.yml
!.github/workflows/pytest.yml
!.gitignore

!CHANGELOG.md
!CONTRIBUTING.md
!LICENSE.md
!README.md
!pyproject.toml
!uv.lock

!demos/
!demos/example.ipynb
!demos/sandbox.zsh.ipynb

!docs/
!docs/build-install-publish.md
!docs/readme.md
!docs/reference.md
!docs/todo.md

!screenshots/
!screenshots/completion.png
!screenshots/console.png
!screenshots/example.png
!screenshots/inspection.png

!tests/
!tests/__init__.py
!tests/fun_test.py
!tests/msgspec_v5.py
!tests/pexpect_zsh_test.py
!tests/zsh_kernel_test.py

!tools/
!tools/Dockerfile
!tools/docker.zsh
!tools/jupyter-rm-zsh.zsh
!tools/run-lab.sh
!tools/tag-git.zsh

!zsh_jupyter_kernel/
!zsh_jupyter_kernel/__init__.py
!zsh_jupyter_kernel/__main__.py
!zsh_jupyter_kernel/banner.txt
!zsh_jupyter_kernel/capture.zsh
!zsh_jupyter_kernel/config.py
!zsh_jupyter_kernel/fun.py
!zsh_jupyter_kernel/install.py
!zsh_jupyter_kernel/kernel.py
!zsh_jupyter_kernel/logo-32x32.png
!zsh_jupyter_kernel/logo-64x64.png
!zsh_jupyter_kernel/logo.png
!zsh_jupyter_kernel/version.txt
